<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HTMX</title>
    <style>
      button {
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>

    <%- include('partials/controls.ejs') %>
    <%- include('partials/numClicks.ejs') %>
    <%- include('partials/numRenders.ejs') %>

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </body>
</html>
